<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="vhost" value="prepod"/>
    <add key="host" value="10.118.252.121"/>
	<add key="port" value="5672"/>
    <add key="username" value="guest"/>
    <add key="password" value="guest"/>
    <add key="queuename" value="ha_prepod_queue"/>
    <add key="exchangename" value="amq.direct"/>
    <add key="routingkey" value="pkey"/>
    <add key="deliverymode" value="np"/>
    <add key="filename" value="C:\Raghu\Work\TIM\Dataset Simulation\cdr_data.txt"/>
    <add key="expiration" value="360000000"/>
	<add key="batchsize" value="1000"/>
	<add key="enablessl" value="false"/>
  </appSettings>
</configuration>
