<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="host" value="10.207.85.11"/>
    <!--10.207.85.11-->
    <add key="username" value="guest"/>
    <add key="password" value="guest"/>
    <add key="queuename" value="test_queue_on_node2"/>
    <add key="exchangename" value="test_exchange"/>
    <add key="routingkey" value="2222"/>
    <add key="deliverymode" value="np"/>
    <add key="filename" value="C:\Raghu\Work\TIM\Dataset Simulation\cdr_data.txt"/>
    <add key="expiration" value="360000000"/>
	<add key="batchsize" value="1000"/>
  </appSettings>
</configuration>
